projeto_pedido_vendas/linux/flutter/generated_plugin_registrant.cc
projeto_pedido_vendas/linux/flutter/generated_plugin_registrant.h
projeto_pedido_vendas/linux/flutter/generated_plugins.cmake
projeto_pedido_vendas/macos/Flutter/GeneratedPluginRegistrant.swift
projeto_pedido_vendas/windows/flutter/generated_plugin_registrant.cc
projeto_pedido_vendas/windows/flutter/generated_plugin_registrant.h
projeto_pedido_vendas/windows/flutter/generated_plugins.cmake
